@{
    ViewData["Middle"] = "Middle Page";
    ViewBag.content = "hai";
}

<div class="text-center">
    <h1 class="display-4">Welcome Middle   /h1>
        <h2>ViewBag.content</h2>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
