@model MvcGroceryMangement.Models.GroceryProducts

@{
    ViewData["Title"] = "AddItem";
}

<h1>AddItem</h1>

<h4>GroceryProducts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddItem" asp-controller="User">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductTitle" class="control-label mt-2"></label>
                <input asp-for="ProductTitle" class="form-control" />
                <span asp-validation-for="ProductTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdImgUrl" class="control-label mt-4"></label>
                <input asp-for="ProdImgUrl"  class="form-control" />
                <span asp-validation-for="ProdImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDesc" class="control-label mt-4"></label>
                <input asp-for="ProductDesc" class="form-control" />
                <span asp-validation-for="ProductDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label mt-4"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home"  asp-action="Index">Back to List</a>
</div>

