@model MvcGroceryMangement.Models.User

@{
    ViewData["Title"] = "AddUser";
}

<h1>AddUser</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4 border-dark">
        <form asp-action="AddUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-outline mb-4">
                <label asp-for="UserName" class="form-label text-dark" for="form2Example17">User Name</label>
                <input asp-for="UserName" id="form2Example17" class="form-control form-control-lg" autocomplete="off" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-outline mb-4">
                <label asp-for="Password" class="form-label text-dark">Password</label>
                <input asp-for="Password" type="password" class="form-control form-control-lg" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

           
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-dark text-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="User" asp-action="Create">Back to List</a>
</div>

