@model IEnumerable<MvcGroceryMangement.Models.User>


@{
    ViewData["Title"] = "Index";
}

<h1 class="p-3" >List Of Users </h1>
<div class=" text-end ">
    <a asp-controller="User" asp-action="AddUser" class="btn btn-primary text-black border">

        <i class="bi bi-file-earmark-plus" style="color:darkgreen"></i>  Add User
    </a>
</div>
<div class="container border-3"> 
<table class="table table-secondary border-2  mt-xl-5 table-responsive-xxl border-4">


        <thead class="table-dark ">
            <tr>
                <th scope="col">UserName</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){

            <tr >
                <td>@item.UserName</td>
                <td>@item.Password</td>
                <td width="20%">
                    <div class="w-200 btn-group text" >
                      <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm p-2 text-dark "> <span>  </span> <i class="bi bi-pencil-square"></i>Edit... </a> 
                  
                    <div>
                                <a asp-controller="User" asp-action="DeleteUser" asp-route-id="@item.Id" class="btn btn-primary btn-sm p-2  text-danger"> <span>  </span> <i class="bi bi-trash"></i>Delete </a>
                            </div>
                    </div>
                       
                </td>
            </tr>


            }
           
           
        </tbody>
</table>

</div>