
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Column heading</th>
            <th scope="col">Column heading</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-dark">
            <th scope="row">Active</th>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
     
</table>