<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcGroceryMangement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/MvcGroceryMangement.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
      <partial  name="_NavbarPartial" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_ToastrNotification" />
            @RenderBody()
        </main>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const val = document.querySelectorAll(".plus").length

     
        for (var i = 0; i < val; i++) {
            const plus = document.querySelectorAll(".plus")[i].addEventListener("click", e => {
               
                let val = e.target.nextElementSibling
                e.target.nextElementSibling.value = +val.value + 1;

            });
        }
        const valminus = document.querySelectorAll(".minus").length
        for (var i = 0; i < valminus; i++) {
            const minus = document.querySelectorAll(".minus")[i].addEventListener("click", e => {

                let par = e.srcElement.parentElement.childNodes[3];
                if (par.value > 1) {
                    par.value = par.value - 1;
                }

            });
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
