@{
    ViewData["Title"] = "Home Page";
 Layout = "~/Views/Shared/_HomeLayout.cshtml";


}

@{
  ViewBag.name = HttpContextAccessor.HttpContext.Session.GetString("UserName");
}



<header>

    <div id="carouselExampleCaptions" class="carousel slide py-4 " data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <buttoimage()button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="width:100%">
            <div class="carousel-item active" style="background-image: url('https://media.istockphoto.com/photos/bowl-with-avocado-black-rice-chickpeas-cabbage-spinach-and-salad-picture-id1316275689?k=20&m=1316275689&s=170667a&w=0&h=P0Z96-wtuFr5phjSXfUJvpLx14Sv7MCN0pzn07fXb6A=') ">
                <div class="carousel-caption">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: <img src="" />  " " >
                <div class="carousel-caption">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/lHGeqh3XhRY/1920x1080')">
                <div class="carousel-caption">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>

<!-- Page Content -->

<div class="row row-cols-1 row-cols-md-3 g-5">

    @for(int i=0;i<10;i++){
        @if (ViewBag.name != null)
        {
            <div class="col">
                <div class="card">
                    <img src="https://previews.123rf.com/images/dimarik16/dimarik161905/dimarik16190500370/124183622-fresh-fruit-grocery-theme-red-and-green-apples-in-supermarket.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content.This is a longer card with supporting text below as a natural lead-in to
                            additional content.
                        </p>
                        
                    </div>
                
                </div>
            </div>
            }
        else{
            <div class="col">
                <div class="card">
                    <img src="https://previews.123rf.com/images/dimarik16/dimarik161905/dimarik16190500370/124183622-fresh-fruit-grocery-theme-red-and-green-apples-in-supermarket.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. 
                        </p>

                    </div>

                </div>
            </div>
        }
}
</div>




  